body {
  background: black;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 'gotham', 'helvetica neue', 'helvetica', 'tahoma', 'arial', sans-serif;
  font-weight: lighter; }

.container {
  display: inline-block;
  width: 90%;
  max-width: 500px;
  vertical-align: middle;
  font-size: 2em; }

.floater {
  display: inline-block;
  height: 600px;
  vertical-align: middle; }

.infinitive {
  font-size: 2em; }

.form {
  margin-top: 1em;
  letter-spacing: 0.75px;
  line-height: 20px; }

.answer {
  margin-top: 3em; }
  .answer input {
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
