<div class="container">
	<div class="logo">
		VERBIAGE
	</div>
	<div class="menu" data-ng-class="{'open': menuOpen}">
		<div class="arrow-x" data-ng-click="toggleMenu()"><div></div><div></div></div>
		<ul>
			<li data-ui-sref="home">
				Conjugate
			</li>
		</ul>
	</div>
	<div class="card edit">
		<div class="floater"></div>
		<div class="container textleft">
			<div class="infinitive">
				Infinitif: <input type="text" class="input" autofocus data-ng-model="newVerb.infinitif" />
			</div>
			<div class="indent" data-ng-repeat="tense in newVerb.tenses">
				<br/>
				<div data-ng-bind="tense.tense"></div>
				<div class="indent" data-ng-repeat="(key, answer) in tense.answers">
					<div>
						<span class="form-label" data-ng-bind="forms[key].name"></span>
						<input type="text" class="input" data-ng-model="tense.answers[key]" />
					</div>
				</div>
			</div>
			<br/><br/><br/><br/><br/>
			<button type-"submit" class="next" data-ng-click="save(newVerb)">
				Save
			</button>
		</div>
	</div>
	<!-- <div class="card edit" data-ng-repeat="verb in verbs">
		<div class="floater"></div>
		<div class="container textleft">
			<div class="infinitive">
				Infinitif: <input type="text" class="input" autofocus data-ng-model="verb.infinitif" />
			</div>
			<div class="indent" data-ng-repeat="tense in verb.tenses">
				<br/>
				<div data-ng-bind="tense.tense"></div>
				<div class="indent" data-ng-repeat="(key, answer) in tense.answers">
					<div>
						<span class="form-label" data-ng-bind="forms[key].name"></span>
						<input type="text" class="input" data-ng-model="answer" />
					</div>
				</div>
			</div>
			<br/><br/><br/><br/><br/>
			<button type-"submit" class="next" data-ng-click="save(verb)">
				Save
			</button>
		</div>
	</div> -->
</div>
