/*-----------------------------------------------------------------------
BEGIN Variabless
-----------------------------------------------------------------------*/

$defaultFontsize: 16px;
$defaultFont: 'Open Sans';
$defaultFontWeight: normal;
$lightblue: #2B5071;
$darkblue: #080d17;
$cream: #FFEFDA;
$lightred: #A01E00;
$darkred: #EF4028;
$gray: #1E1E1E;
$green: rgb(132,199,133);
