<div class="floater"></div>
<div class="container">
	<div class="logo">
		VERBIAGE
	</div>
	<div class="menu" data-ng-if="!success" data-ng-class="{'open': menuOpen}">
		<div class="arrow-x" data-ng-click="toggleMenu()"><div></div><div></div></div>
		<ul>
			<li data-ui-sref="verbs/add">
				Add Verb
			</li>
			<li data-ng-click="toggleHistory()">
				<span data-ng-if="!showingHistory">Show</span>
				<span data-ng-if="showingHistory">Hide</span>
				History
			</li>
			<li data-ng-click="toggleSkip()">
				<span data-ng-if="!showingSkip">Show</span>
				<span data-ng-if="showingSkip">Hide</span>
				Skip
			</li>
			<li data-ng-click="toggleCount()">
				<span data-ng-if="!showingCount">Show</span>
				<span data-ng-if="showingCount">Hide</span>
				Count
			</li>
		</ul>
	</div>
	<div class="card" data-ng-class="{'accepted': answerGood, 'rejected': answerBad}">
		<div class="floater"></div>
		<!-- <div class="container" data-ng-if="success">
			<div class="checkcircle">
				<div class="a"></div>
				<div class="b"></div>
			</div>
		</div> -->
		<div class="container" data-ng-if="!success">
			<div class="infinitive" data-ng-bind="card.infinitif"></div>
			<div class="tense" data-ng-bind="card.tense"></div>
			<!-- <div class="form" data-ng-bind="card.form"></div> -->
			<div class="answer" data-ng-class="{'focused': answerIsFocused}">
				<span class="pronoun" data-ng-bind="card.pronoun"></span>
				<input name="answer" type="text" class="input"
					data-ng-change="checkAnswer(answer)"
					data-ng-keypress="keypress($event)"
					data-ng-focus="setIsFocused(true)"
					data-ng-blur="setIsFocused(false)"
					data-ng-model="answer"
					autofocus
					placeholder="conjugaison" />
			</div>
		</div>
		<button class="next" data-ng-if="showingSkip" data-ng-click="getCard()">
			Skip <div class="arrow-right"><div></div><div></div></div>
		</button>
		<div class="cheat" data-ng-if="cheatMode" data-ng-bind="card.answer"></div>
	</div>
	<div class="count" data-ng-if="showingCount" data-ng-bind="countHistory()"></div>
	<div class="history" data-ng-if="showingHistory">
		<span class="title">
			History
		</span>
		<div class="item" data-ng-repeat="item in history">
			<span data-ng-bind="item.answer"></span>
		</div>
	</div>
</div>
