@import '../scss/variables';
@import '../scss/mixins';
/*-----------------------------------------------------------------------
BEGIN Defaults
-----------------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,textarea,input,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legEND,table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	border: 0;
	widows: 3;
	padding: 0;
	outline: 0;
	color: inherit;
	background: none;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-family: inherit;
	text-align: inherit;
	text-decoration: none;
	word-wrap: break-word;
	box-sizing: border-box;
	vertical-align: inherit;
	-webkit-tap-highlight-color: transparent;
}
:focus{ outline:0; }
a{ cursor: pointer; color: inherit; font-family: inherit; }
a:active{ outline: none; text-decoration: none; }
a:visited, a:link{ color: inherit; text-decoration: none; }
a:hover, a:active{ color: inherit; text-decoration: none; }
ol,ul,li{ list-style: none; }
table{ border-collapse: separate; border-spacing: 0; }
caption,th,td{ text-align: left; font-weight: normal; }
blockquote:before,blockquote:after,q:before,q:after{ content: ""; }
blockquote,q{ quotes: "" ""; }
textarea,
button,
input,
input[type="text"],
input[type="submit"],
input[type="search"],
input[type="password"],
isindex, select{	border:0; -webkit-appearance:none; }
textarea{ resize: none; }
body{
	color: $cream;
	min-width: 300px;
	text-align: center;
	background: $darkblue;
	letter-spacing: 0.02em;
	font-family: $defaultFont;
	font-weight: $defaultFontWeight;
	@include selection(rgba(73,173,225,0.6), #fff);

	.defaultsize{
		font-size: $defaultFontsize;
	}
}

@import "./home/home";
