@charset "UTF-8";
body {
  background: #171717;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-family: 'gotham', 'helvetica neue', 'helvetica', 'tahoma', 'arial', sans-serif; }

.container {
  width: 90%;
  max-width: 650px;
  position: relative;
  display: inline-block;
  vertical-align: middle; }

@keyframes acceptedColors {
  0% {
    background: #cfe2d2; }
  50% {
    background: #badcc0; }
  100% {
    background: #cfe2d2; } }

@keyframes rejectedColors {
  0% {
    background: #fde7e7; }
  50% {
    background: #fbdada; }
  100% {
    background: #fde7e7; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.card {
  width: 100%;
  padding: 20px;
  background: #eeeeee;
  min-height: 250px;
  margin-top: 100px;
  position: relative;
  border-radius: 5px;
  border: 2px solid transparent; }
  .card.accepted {
    animation: acceptedColors 3s linear infinite;
    border: 2px solid green; }
  .card.rejected {
    animation: rejectedColors 3s linear infinite;
    border: 2px solid red; }

button {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  background: none;
  font-family: inherit;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px; }
  button:hover {
    background: #efefef; }

.next {
  right: 20px;
  bottom: 20px;
  position: absolute; }

.floater {
  display: inline-block;
  height: 300px;
  vertical-align: middle; }

.infinitive {
  font-size: 2em; }

.tense {
  margin-top: 0.5em; }

.tense,
.form {
  line-height: 20px;
  letter-spacing: 0.5px; }

.answer {
  margin-top: 1em; }
  .answer input {
    text-align: left;
    line-height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.answer.focused:after {
  content: "↵";
  color: #555;
  line-height: 30px;
  position: absolute;
  animation: fadein 4s linear 1; }

input {
  vertical-align: baseline; }

.logo {
  color: #999;
  margin-top: 80px;
  margin-left: 10px;
  position: absolute;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: lighter; }

[data-ui-sref] {
  cursor: pointer; }

.textleft {
  text-align: left; }

.indent {
  padding-left: 15px; }

.arrow-right {
  width: 1em;
  display: inline-block;
  cursor: pointer;
  transform: rotate(-90deg); }
  .arrow-right div {
    width: 2px;
    height: 10px;
    background: #aaa;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.25s ease-in; }
  .arrow-right div:first-child {
    transform: rotate(-45deg); }
  .arrow-right div:last-child {
    transform: rotate(45deg);
    margin-left: 4.5px; }

.menu {
  right: 0;
  z-index: 3;
  top: 100px;
  position: absolute; }
  .menu .arrow-x {
    width: 3em;
    height: 2em;
    padding: 10px;
    display: block;
    cursor: pointer; }
    .menu .arrow-x div {
      width: 2px;
      height: 10px;
      background: #aaa;
      border-radius: 4px;
      display: inline-block;
      transition: all 0.25s ease-in; }
    .menu .arrow-x div:first-child {
      transform: rotate(-45deg); }
    .menu .arrow-x div:last-child {
      transform: rotate(45deg);
      margin-left: 4.5px; }
  .menu ul {
    right: 5px;
    top: -500px;
    display: block;
    overflow: hidden;
    text-align: right;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.5s ease-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25); }
    .menu ul li {
      width: 110px;
      padding: 10px;
      font-size: 0.8em;
      background: #efefef;
      letter-spacing: 0.5px;
      border-top: 1px solid #ccc; }
    .menu ul li:hover {
      background: #fff; }
    .menu ul li:first-child {
      border-top: 0; }

.checkcircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  background: #84c785;
  animation: fadein 0.5s linear 1; }
  .checkcircle div {
    height: 2px;
    width: 20px;
    background: #fff;
    border-radius: 5px;
    position: absolute; }
  .checkcircle .a {
    top: 50px;
    position: absolute;
    left: 37px;
    width: 40px;
    transform: rotate(-55deg); }
  .checkcircle .b {
    top: 60px;
    position: absolute;
    left: 30px;
    width: 20px;
    transform: rotate(-125deg); }

.history .item {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc; }

.menu.open .arrow-x div {
  height: 15px; }

.menu.open .arrow-x div:last-child {
  margin-left: -2px; }

.menu.open ul {
  top: 40px; }
